DEVIGO_API_TOKEN=
DEVIGO_SITE_ID=
DEVIGO_API_DOMAIN=https://api.devigo.studio # Change if you use a custom CDN to serve assets with your website.
ENVIRONMENT=development # Choose between 'development', 'staging', 'preview' and 'live'